<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div style="display: flex; height: 100%; align-items: center">
    <form style="width: 100%">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
    </form>
  </div>-->

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <form style="width: 100%">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
