<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="food-and-drinks">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>餐飲</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="set">
      <ion-icon name="grid"></ion-icon>
      <ion-label>套餐</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="reorder-four"></ion-icon>
      <ion-label>訂單</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
