<ion-header translucent>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="light">
    <div style="text-align: center">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/743/515/large_2x/set-of-plate-fork-and-knife-icon-free-vector.jpg"
      />
    </div>

    <ion-card-header>
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>{{username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Welcome to restaurant-system.
      <br />
      You can click to enter the following category.
    </ion-card-content>
  </ion-card>

  <ion-card color="success" href="#">
    <ion-item style="font-size: 20px" color="success" href="#">
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      <ion-label>餐飲</ion-label>
    </ion-item>

    <ion-card-content> food and drinks </ion-card-content>
  </ion-card>

  <ion-card color="danger" href="#">
    <ion-item style="font-size: 20px" color="danger" href="#">
      <ion-icon name="grid-outline" slot="start"></ion-icon>
      <ion-label>套餐</ion-label>
    </ion-item>

    <ion-card-content> a set </ion-card-content>
  </ion-card>

  <ion-card color="secondary" href="#">
    <ion-item style="font-size: 20px" color="secondary" href="#">
      <ion-icon name="reorder-four-outline" slot="start"></ion-icon>
      <ion-label>訂單</ion-label>
    </ion-item>
    <ion-card-content> order </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="ion-text-wrap">
      If you have any question, please email to rockie2695@yahoo.com.hk
    </ion-label>
  </ion-item>
</ion-content>
